{% extends "base.html" %}
{% block title %}Новый пароль{% endblock %}
{% block content %}
<h1>Установка нового пароля</h1>
<form method="post">
  {{ form.hidden_tag() }}
  <div>
    {{ form.password.label }}<br>
    {{ form.password(size=40) }}
    {% for e in form.password.errors %}<div class="error">{{ e }}</div>{% endfor %}
  </div>
  <div>
    {{ form.password2.label }}<br>
    {{ form.password2(size=40) }}
    {% for e in form.password2.errors %}<div class="error">{{ e }}</div>{% endfor %}
  </div>
  <div>{{ form.submit() }}</div>
</form>
{% endblock %}
